/.output
/bindsnoop
/biolatency
/biopattern
/biosnoop
/biostacks
/bitesize
/btrfsdist
/btrfsslower
/cachestat
/cpudist
/cpufreq
/drsnoop
/execsnoop
/exitsnoop
/ext4dist
/ext4slower
/filelife
/filetop
/fsdist
/fsslower
/funclatency
/gethostlatency
/hardirqs
/ksnoop
/llcstat
/nfsdist
/nfsslower
/mountsnoop
/numamove
/offcputime
/opensnoop
/readahead
/runqlat
/runqlen
/runqslower
/softirqs
/solisten
/statsnoop
/syscount
/tcpconnect
/tcpconnlat
/tcprtt
/vfsstat
/xfsdist
/xfsslower
