/.output
/btfhub-archive
/bashreadline
/bcachefsdist
/bcachefsslower
/bindsnoop
/biolatency
/biopattern
/biosnoop
/biostacks
/biotop
/bitesize
/btrfsdist
/btrfsslower
/cachestat
/capable
/cpudist
/cpufreq
/drsnoop
/execsnoop
/exitsnoop
/ext4dist
/ext4slower
/f2fsdist
/f2fsslower
/filelife
/filetop
/fsdist
/fsslower
/funclatency
/futexctn
/gethostlatency
/hardirqs
/javagc
/killsnoop
/klockstat
/ksnoop
/llcstat
/memleak
/mdflush
/mountsnoop
/nfsdist
/nfsslower
/numamove
/offcputime
/oomkill
/opensnoop
/profile
/readahead
/runqlat
/runqlen
/runqslower
/sigsnoop
/slabratetop
/softirqs
/solisten
/statsnoop
/syncsnoop
/syscount
/tcpconnect
/tcpconnlat
/tcplife
/tcppktlat
/tcptracer
/tcprtt
/tcpstates
/tcpsynbl
/tcptop
/vfsstat
/wakeuptime
/xfsdist
/xfsslower
/zfsdist
/zfsslower
