/.output
/biolatency
/biopattern
/biosnoop
/biostacks
/bitesize
/cachestat
/cpudist
/cpufreq
/drsnoop
/execsnoop
/ext4dist
/filelife
/funclatency
/gethostlatency
/hardirqs
/llcstat
/nfsdist
/numamove
/offcputime
/opensnoop
/readahead
/runqlat
/runqlen
/runqslower
/softirqs
/syscount
/tcpconnect
/tcpconnlat
/vfsstat
/xfsslower
