[flake8]
count = True
# max-complexity should be 10
max-complexity = 30
# max-line-length should be 79 (pep8) or 88 (python/black) or 127 (GitHub editor)
max-line-length = 370
show_source = True
statistics = True
ignore =
    E101,  # indentation contains mixed spaces and tabs
    E203,  # whitespace before ':'
    E266,  # too many leading '#' for block comment
    E302,  # expected 2 blank lines, found 1
    E401,  # multiple imports on one line
    E402,  # module level import not at top of file
    E711,  # comparison to None should be 'if cond is not None:'
    E713,  # test for membership should be 'not in'
    E722,  # do not use bare 'except'
    E741,  # ambiguous variable name 'l'
    F401,  # 'pyroute2.NetNS' imported but unused
    F403,  # 'from ctypes import *' used; unable to detect undefined names
    F405,  # 'c_ubyte' may be undefined, or defined from star imports: ctypes
    F632,  # use ==/!= to compare str, bytes, and int literals
    F811,  # redefinition of unused 'os' from line 11
    F821,  # undefined name 'signal_ignore'
    F841,  # local variable 'available_ips' is assigned to but never used
    W191,  # indentation contains tabs
    W291,  # trailing whitespace
    W293,  # blank line contains whitespace
    W503,  # line break before binary operator
    W605,  # invalid escape sequence '\.'
