language: generic
install:
  - sudo apt-get install -y python-pip
  - sudo pip install pep8
script:
  - ./scripts/check-helpers.sh
  - find tools/ -type f -name "*.py" | xargs pep8 -r --show-source --ignore=E123,E125,E126,E127,E128,E302
